.flex-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.flex-container div {
    display: flex;
    text-align: center;
    align-items: center;
}

.flex-container-lower {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.flex-header button {
    margin-left: auto;
    margin-right: 10px;
    border-radius: 5px;
    width: 5rem;
    height: 3rem;
    border: 2px solid #8831e5;
}

.penguin {
    scale: 0.75;
}